<template>
    <div>
        <h4>Add new comment</h4>
        <form v-on:submit.prevent="addComment" @keydown="errors = []">
            <div :class="className">
                <label class="control-label" for="body">Your comment:</label>
                <input class="form-control" type="text" name="body" id="body" v-model="body">
            </div>

            <div class="alert alert-danger" v-if="errors.length">
                <ul>
                    <li v-for="error in errors">{{error}}</li>
                </ul>
            </div>

            <button type="submit" class="btn btn-primary" :disabled="errors.length > 0">Add comment</button>
        </form>
    </div>
</template>

<script>
    export default {

        props: ['postid'],

        data() {
            return {
                body: '',
                errors: []
            }
        },
        methods: {
            addComment() {
                axios.post('/posts/' + this.postid + '/comments', {body : this.body})
                .then(response => {
                    bus.$emit('comment-created', this.body, response.data.id);
                    bus.$emit('notify', response.data.message, 'alert-success');
                    this.body = '';
                })
                .catch(error => {
                    this.errors = error.response.data.body;
                });
            }
        },
        computed: {
            className() {
                if(this.errors.length > 0) {
                    return 'form-group has-error';
                }

                return 'form-group';
            }
        }
    }
</script>
