<template>
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Posted on
                <small>{{comment.created_at}}</small>
            </h4>
            <button type="button"
                    @click="deleteComment(comment)"
                    class="close">
                <span>&times;</span>
            </button>
            {{comment.body}}
        </div>
    </div>
</template>
<script>
    export default {
        props: ['comment', 'candelete'],

        methods: {
            deleteComment(comment) {
                this.$emit('commentdeleted', comment);
            }
        }
    }
</script>
