<template>
    <div class="alert"
        :class="notification.type ? notification.type : 'alert-info'">
        <button
            @click="triggerClose(notification)"
            class="close"
            type="button">
            <span>&times;</span>
        </button>
        <p>
            <strong v-if="notification.title">{{notification.title}}</strong>
            {{notification.body}}
        </p>
    </div>
</template>
<script>
    export default {

        props: ['notification'],

        data() {
            return {
                timer: null,
            }
        },

        mounted() {
            let timeout = this.notification.hasOwnProperty('timeout')
                ? this.notification.timeout : true;

            if(timeout) {
                let delay = this.notification.delay || 2000;
                this.timer = setTimeout(() => {
                    this.triggerClose(this.notification);
                }, delay);
            }
        },

        methods: {
            triggerClose(notification) {
                clearTimeout(this.timer);
                this.$emit('closenotification', notification);
            }
        }
    }
</script>
