<template>
    <div class="notifications">
        <notification
                v-for="notification in notifications"
                :notification="notification"
                @closenotification="removeNotification">
        </notification>
    </div>
</template>
<style>
    div.notifications {
        position: fixed;
        left: 10px;
        top: 60px;
        width: 350px;
        z-index: 1;
    }
</style>
<script>
    import Notification from './Notification.vue'

    export default {

        data() {
            return {
                notifications: NotificationStore.state,
            }
        },

        components: {
            Notification,
        },

        methods: {
            removeNotification(notification) {
                NotificationStore.removeNotification(notification);
            }
        },

        mounted() {
            bus.$on('notify', (message, className) => {
                console.log(message);
                NotificationStore.addNotification({
                    title: className == 'alert-success' ? 'Success!' : 'Oh no!',
                    body: message,
                    type: className,
                });
            });
        }
    }
</script>
