<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Say something</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label" for="body">your comment</label>
                    <input class="form-control" type="text" name="body" id="body" v-model="body">
                </div>

                <button class="btn btn-primary" @click="sendMessage">Say it!</button>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Chat messages</h3>
            </div>
            <div class="panel-body">
                <p v-for="message in messages">{{message.created_at}} {{message.name}} said that {{message.body}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                messages: [],
                body: '',
            }
        },

        mounted() {
            Echo.private('private-chat')
                .listen('ChatMessageSent', (e) => {
                    console.log(e);
                    this.messages.push({
                        name: e.user.name,
                        body: e.message.message,
                        created_at: e.message.created_at
                    });
                });
        },

        methods: {
            sendMessage() {
                axios.post('chat', {body: this.body})
                    .then(results => {
                        console.log(results);
                        this.body = '';
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        }
    }
</script>
